Flask>=2.1.0
Werkzeug>=2.1.0
gunicorn
Flask-Login>=0.5.0
Flask-SQLAlchemy
psycopg2-binary
Flask-Migrate
stripe==3.0.0
Flask-CORS
pandas>=1.3.0
openpyxl>=3.0.0  # For reading/writing Excel files
xlsxwriter>=1.3.0  # For writing Excel files using pandas
APScheduler==3.9.1.post1  # Or the latest stable version
Flask-Mail==0.9.1
markupsafe==2.1.2
MarkupSafe>=2.0
itsdangerous>=2.0
Flask-WTF>=1.0
