<form method="POST">
    <h1>Answer the Questions for {{ event.name }}</h1>
    
    {% for i in range(ticket_quantity) %}
        <h2>Ticket {{ i+1 }}</h2>

        {% for idx, question in enumerate(default_questions + custom_questions) %}
            <label for="answer_{{ i+1 }}_{{ idx+1 }}">{{ question }}</label>
            <input type="text" id="answer_{{ i+1 }}_{{ idx+1 }}" name="answer_{{ i+1 }}_{{ idx+1 }}">
        {% endfor %}
        <br><br>
    {% endfor %}
    
    <button type="submit">Proceed to Payment</button>
</form>
