<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/create_event">Create New Event</a>
    
    <h2>Your Events:</h2>
    <ul>
        {% for event in events %}
            <li>{{ event.name }} - {{ event.date }}</li>
        {% else %}
            <li>No events yet.</li>
        {% endfor %}
    </ul>

    <h3>Your Embed Code:</h3>
    <pre>
        <code>
            <script src="https://flask-app-2gp0.onrender.com/embed/{{ user.unique_id }}"></script>
        </code>
    </pre>
    <p>Copy this code and paste it into your website to display your events.</p>
    

    <a href="/logout">Logout</a>
</body>
</html>
