<!DOCTYPE html>
<html>
<head>
    <title>Edit Attendee - {{ attendee.full_name }}</title>
</head>
<body>
    <h1>Edit Attendee - {{ attendee.full_name }}</h1>
    <form method="POST">
        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name" value="{{ attendee_data.full_name }}"><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ attendee_data.email }}"><br><br>
        
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" value="{{ attendee_data.phone_number }}"><br><br>
        
        <label for="tickets_purchased">Tickets Purchased:</label><br>
        <input type="number" id="tickets_purchased" name="tickets_purchased" value="{{ attendee_data.tickets_purchased }}" min="1"><br><br>
        
        <h3>Ticket Answers:</h3>
        {% for i in range(attendee_data.tickets_purchased) %}
            <h4>Ticket {{ i + 1 }}</h4>
            {% for question in attendee_data.ticket_answers[0].keys() %}
                <label for="ticket_{{ i }}_{{ question }}">{{ question }}:</label><br>
                <input type="text" id="ticket_{{ i }}_{{ question }}" name="ticket_{{ i }}_{{ question }}" value="{{ attendee_data.ticket_answers[i][question] }}"><br><br>
            {% endfor %}
        {% endfor %}
        
        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('view_attendees', event_id=event.id) }}">Back to Attendees List</a>
</body>
</html>
