<div id="user-events">
    <h2>Upcoming Events</h2>
    <ul>
        {% for event in events %}
        <li>
            <strong>{{ event.name }}</strong><br>
            Date: {{ event.date }}<br>
            Location: {{ event.location }}<br>
            Description: {{ event.description }}<br>
            Time: {{ event.start_time }} - {{ event.end_time }}<br>
            Ticket Price: £{{ event.ticket_price }}<br>
            <form action="/buy_ticket/{{ event.id }}" method="POST">
                <button type="submit">Buy Ticket</button>
            </form>
        </li>
        {% else %}
        <li>No events yet.</li>
        {% endfor %}
    </ul>
</div>
