<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticketrush Dashboard</title>
    
    <!-- Import Ant Design Vue CSS from CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ant-design-vue/4.2.5/antd.min.css"
      integrity="sha512-v9X+Ohsqz1z2NCk8PrA9Kzzj/I59BRGv4EAP3TpU4S6aPdKYoc8Dh+Rv/Rv0Gz/BjIB3TGT9aPEZBGh4Xb2wUQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
